include README.md
include LICENSE
include pyproject.toml

recursive-exclude papers *
recursive-exclude examples *.png
recursive-exclude examples/notebooks *
prune .pytest_cache
prune *.egg-info
prune .git
